body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.css ke niche yeh code add karein */
.gradient-edge .react-flow__edge-path {
  stroke: url(#edge-gradient) !important; /* SVG ID ko yahan link kiya */
  stroke-width: 3;
  stroke-opacity: 1;
}

/* Arrow ka color match karne ke liye */
.gradient-edge .react-flow__arrowhead path {
  fill: #6366f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
